@import "../main.scss";
@import "./navbar.module.scss";

.mf-cursor {
  color: #000 !important;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .title-text {
      position: absolute;
      top: 30%;
      left: 7%;
      width: max-content;
      height: max-content;
      display: flex;
      flex-direction: column;
      z-index: 999;
      color: $color-base;

      .small-heading {
        font-size: 16px;
        font-weight: 500;
      }

      .big-heading {
        font-size: 64px;
        font-weight: 500;
      }
    }

    .background-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
    }

    .progress-square {
      position: absolute;
      width: 150px;
      height: 150px;
      border: 3px solid transparent;
      left: 7%;
      bottom: 7%;
      border: 1px solid $color-base;
      display: flex;
      align-items: center;
      justify-content: center;

      .inner-img {
        width: 115px;
        height: 115px;
        object-fit: fill;
      }

      .inner-text {
        position: absolute;
        color: $color-base;
        font-size: xx-large;
        font-weight: 500;
      }

      .progress-side {
        position: absolute;
        background: $color-base;
        width: 160px;
        height: 160px;
      }

      .top-side,
      .right-side,
      .bottom-side,
      .left-side {
        position: absolute;
        background: $color-base;
        width: 3px;
        height: 3px;
      }

      .top-side {
        top: 0;
        left: 0;
        width: 0%;
      }

      .right-side {
        top: 0;
        right: 0;
        height: 0%;
      }

      .bottom-side {
        bottom: 0;
        right: 0;
        width: 0%;
      }

      .left-side {
        bottom: 0;
        left: 0;
        height: 0%;
      }
    }

    .page-indicator-number {
      position: absolute;
      width: max-content;
      height: max-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      left: 20%;
      bottom: 15%;

      h3 {
        color: $color-base;
        font-size: 1.5rem;
      }

      .line {
        width: 10rem;
        height: 0.1rem;
        background-color: $color-base;
        margin: 0 1rem;
      }
    }
  }

  .quality-products-container {
    width: 100%;
    height: 150vh;
    color: #333;
    background-color: #fffcfa;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-text {
      position: absolute;
      width: 100%;
      height: max-content;
      top: 10%;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;

      h1 {
        font-size: 2rem;
        font-weight: 600;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      h1 .char {
        transform: translateY(115px);
        transition: transform 5s;
      }

      p {
        width: 90%;
        font-size: 0.9rem;
        font-weight: normal;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: 1rem 0 0 0;
      }

      p .char {
        transform: translateY(115px);
        transition: transform 5s;
      }
    }

    .carousel {
      position: absolute;
      left: calc(50% - 150px);
      top: calc((40% - 100px) / 1);
      transform-origin: 150px 2500px;
      will-change: transform;

      .wrapper {
        position: absolute;
        height: 80vh;
        transform-origin: 150px 2500px;

        @for $i from 0 through 36 {
          &:nth-child(#{$i}) {
            @if $i < 36 {
              transform: rotate(#{$i * 10}deg);
            } @else {
              transform: rotate(360deg); /* Rotate to show the last image */
            }
          }
        }
        &:active {
          cursor: grabbing;
        }

        img {
          width: 300px;
          height: 500px;
          border-radius: 5px;
          background: currentColor;
          position: absolute; /* if needed, depending on your layout */
          transition: transform 0.5s;
          object-fit: cover;
        }

        h3.centered-title {
          display: none; // Hide all titles initially
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white; // Adjust color as needed
          background-color: rgba(
            0,
            0,
            0,
            0.5
          ); // Semi-transparent background for better readability
          padding: 10px; // Adjust padding as needed
          border-radius: 5px; // Add border-radius for rounded corners
          z-index: 2; // Ensure title is above the image
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .home-page-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .hero-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      .title-text {
        position: absolute;
        top: 30%;
        left: 7%;
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        z-index: 999;
        color: $color-base;

        .small-heading {
          font-size: medium;
          font-weight: 500;
        }

        .big-heading {
          font-size: 39px;
          font-weight: 500;
        }
      }

      .background-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
      }

      .progress-square {
        position: absolute;
        width: 130px;
        height: 130px;
        border: 3px solid transparent;
        left: 7%;
        bottom: 7%;
        border: 1px solid $color-base;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-img {
          width: 90px;
          height: 90px;
          object-fit: fill;
        }

        .inner-text {
          position: absolute;
          color: $color-base;
          font-size: large;
          font-weight: 500;
        }

        .progress-side {
          position: absolute;
          background: $color-base;
          width: 100px;
          height: 100px;
        }

        .top-side,
        .right-side,
        .bottom-side,
        .left-side {
          position: absolute;
          background: $color-base;
          width: 3px;
          height: 3px;
        }

        .top-side {
          top: 0;
          left: 0;
          width: 0%;
        }

        .right-side {
          top: 0;
          right: 0;
          height: 0%;
        }

        .bottom-side {
          bottom: 0;
          right: 0;
          width: 0%;
        }

        .left-side {
          bottom: 0;
          left: 0;
          height: 0%;
        }
      }

      .page-indicator-number {
        position: absolute;
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        left: 50%;
        bottom: 10%;

        h3 {
          color: $color-base;
          font-size: 1rem;
        }

        .line {
          width: 3rem;
          height: 0.1rem;
          background-color: $color-base;
          margin: 0 0.5rem;
        }
      }
    }

    .quality-products-container {
      width: 100%;
      height: 200vh;
      color: #333;
      background-color: #fffcfa;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .header-text {
        position: absolute;
        width: 100%;
        top: 20%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;

        h1 {
          font-size: 2rem;
          font-weight: 600;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        h1 .char {
          transform: translateY(115px);
          transition: transform 5s;
        }

        p {
          width: 90%;
          font-size: 0.9rem;
          font-weight: normal;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          margin: 1rem 0 0 0;
        }

        p .char {
          transform: translateY(115px);
          transition: transform 5s;
        }
      }

      .carousel {
        position: absolute;
        left: calc(50% - 100px);
        top: calc((60% - 100px) / 1);
        transform-origin: 150px 2500px;
        will-change: transform;

        .wrapper {
          position: absolute;
          height: 80vh;
          transform-origin: 150px 2500px;

          @for $i from 0 through 36 {
            &:nth-child(#{$i}) {
              @if $i < 36 {
                transform: rotate(#{$i * 10}deg);
              } @else {
                transform: rotate(360deg); /* Rotate to show the last image */
              }
            }
          }
          &:active {
            cursor: grabbing;
          }

          img {
            width: 270px;
            height: 400px;
            border-radius: 5px;
            background: currentColor;
            position: absolute; /* if needed, depending on your layout */
            transition: transform 0.5s;
            object-fit: cover;
          }

          h3.centered-title {
            display: none; // Hide all titles initially
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; // Adjust color as needed
            background-color: rgba(
              0,
              0,
              0,
              0.5
            ); // Semi-transparent background for better readability
            padding: 10px; // Adjust padding as needed
            border-radius: 5px; // Add border-radius for rounded corners
            z-index: 2; // Ensure title is above the image
          }
        }
      }
    }
  }
}
