@import "../main.scss";

.navbar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  width: auto;
  color: $color-graybase;
  background-color: $color-base;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px 20px;

  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .navbar-item {
      margin-right: 10px;

      a {
        text-decoration: none;
        color: $color-graybase;
        padding: 10px;
        transition: background-color 0.3s ease;
      }
    }
  }

  .navbar-toggle {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    .navbar-toggle-icon {
      width: 25px;
      height: 3px;
      background-color: $color-graybase;
      display: block;
      margin: 5px 0;
    }
  }

  .contact-btn {
    text-decoration: none;
    color: $color-graybase;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $color-graybase;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      margin: 0 0 0 0.2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .contact-btn {
      order: -1; /* Move contact button to the beginning */
    }

    .navbar-menu {
      display: none;
    }

    .navbar-toggle {
      display: block;
    }

    &.expanded {
      .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-base;
        width: 100%;

        .navbar-item {
          width: 100%;

          a {
            margin: 10px 0;
            width: 100%;
            font-size: 18px;
            display: block;
          }
        }
      }
    }
  }

  @media screen and (min-width: 601px) {
    .contact-btn {
      order: 2; /* Move contact button to the end */
    }
  }
}
